{% extends "layouts/base.html" %}

{% block title %} - Players {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% load url_tags status_colour %}

    <h3>Players</h3>

    <div style="display: none;" class="hidden_easiest" id="easiest_fdr">{{ easiest }}</div>
    <div style="display: none;" class="hidden_hardest" id="highest_fdr">{{ hardest }}</div>

    <div class="pcoded-content">
        <div class="pcoded-inner-content">

            <form name="elementForm" method="get" onchange="elementForm.submit()">
                {{ filtered_players.form.as_table }}
            </form>
            <hr>

            <div class="table-responsive">
                <table class="table custom-table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Player/Gameweek</th>
                        <th>Status</th>
                        <th>History</th>
                        <th>Pos</th>
                        <th>Team</th>
                        <th class="custom-sortable-header"><a
                                href="?order_by=form&direction=desc">Form<i
                                class="fa fa-sort-desc" aria-hidden="true"></i></a>
                        </th>
                        <th class="custom-sortable-header"><a
                                href="?order_by=now_cost&direction=desc">Cost<i
                                class="fa fa-sort-desc" aria-hidden="true"></i></a>
                        </th>
                        <th class="custom-sortable-header"><a
                                href="?order_by=total_points&direction=desc">Points<i
                                class="fa fa-sort-desc" aria-hidden="true"></i></a>
                        </th>
                        <th class="custom-sortable-header"><a
                                href="?order_by=bonus&direction=desc">Bonus<i
                                class="fa fa-sort-desc" aria-hidden="true"></i></a>
                        </th>
                        <th class="custom-sortable-header"><a
                                href="?order_by=ep_next&direction=desc">Exp
                            Points<i class="fa fa-sort-desc"
                                     aria-hidden="true"></i></a></th>
                        <th title="Points per Game">PPG</th>
                        <th title="Points per Cost">PPC</th>
                        <th class="custom-sortable-header"
                            title="Value Added per £1M (Points Per Match - 2)/Cost.&#10Taking away 2 points as per match, thus eliminating&#10the effect of points for 60 minutes and diminishes&#10the value of subs)">
                            <a href="?order_by=vapm&direction=desc">VAPM<i
                                    class="fa fa-sort-desc"
                                    aria-hidden="true"></i></a></th>
                        {% for event in events %}
                            <th style="min-width: 100px;">{{ event.id }}
                                <br> {{ event.formatted_deadline }}</th>
                        {% endfor %}
                    </tr>
                    </thead>

                    <tbody>
                    {% for player in player_page_obj %}
                        <tr>
                            <td class="custom-row-first">{{ player.web_name }}</td>
                            <td>
                                <button class="btn btn-sm custom-{% get_message_css_status player.status %}"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        title="{{ player.get_formatted_news }}">
                                    <span class="fa fa-info "></span>
                                </button>
                            </td>
                            <td>
                                <button type="button"
                                        class="custom-button btn btn-sm btn-primary"
                                        data-form-url="{% url 'player-history' player.pk %}">
                                    <span class="fa fa-eye"></span>
                                </button>
                            </td>
                            <td>{{ player.player_type.singular_name_short }}</td>
                            <td>{{ player.player_team.short_name }}</td>
                            <td>{{ player.form }}</td>
                            <td>{{ player.formatted_cost }}</td>
                            <td>{{ player.total_points }}</td>
                            <td>{{ player.bonus }}</td>
                            <td>{{ player.ep_next }}</td>
                            <td>{{ player.points_per_game }}</td>
                            <td>{{ player.points_per_cost }}</td>
                            <td>{{ player.vapm }}</td>
                            {% for opponent in player.player_team.next_games.itertuples %}
                                <td class="valueTD"
                                    value="{{ opponent.opponents.fdr }}, {{ opponent.opponents.color }}">{{ opponent.opponents.show_opponents }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <ul class="pagination justify-content-center">
                {% if player_page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{% this_url 1 'page' request.GET.urlencode %}">&laquo;
                            First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="{% this_url player_page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo; First</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link">{{ player_page_obj.number }}</a>
                </li>

                {% if player_page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{% this_url player_page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           href="{% this_url player_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last
                            &raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Last &raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}{% endblock javascripts %}