APScheduler==3.11.2
Django==6.0.5
django_bootstrap_modal_forms==3.0.5
django-widget-tweaks==1.5.1
django_filter==25.2
django-extensions==4.1
djangorestframework==3.17.1
django-cors-headers==4.9.0
drf-spectacular==0.29.0
multipledispatch==1.0.0
pandas==3.0.3
numpy==2.5.0
pytest==9.0.3
requests==2.33.1
str2bool==1.1
scikit_learn==1.9.0
tweepy==4.16.0
humanize==4.15.0
psycopg2==2.9.12
python-dotenv==1.2.2
pytz==2026.2