APScheduler==3.9.1
Django==6.0
django_bootstrap_modal_forms==2.2.0
django-widget-tweaks==1.4.2
django_filter==25.1
django-extensions==3.2.1
djangorestframework==3.16.1
django-cors-headers==4.8.0
drf-spectacular==0.28.0
multipledispatch==0.6.0
pandas==2.1.2
numpy==1.26.4
pytest==6.2.4
requests==2.32.4
str2bool==1.1
scikit_learn==1.5.2
tweepy==4.14.0
humanize==4.9.0
psycopg2==2.9.5
python-dotenv==1.0.1
pytz==2024.1