{% extends 'layouts/base.html' %}

{% block title %} - League Progression {% endblock %}

{% block content %}
    <h3>Race to the top of {{ league_name }}</h3>

    <hr>
    <div id="chartdiv" class="chart-container"></div>

    <script>
        var allData = {{ players_data|safe }};
        var playersToShow = {{ players_to_show }};
        var totalGameweeks = Object.keys(allData).length;

        am5.ready(function() {
            var root = am5.Root.new("chartdiv");

            root.numberFormatter.setAll({
                numberFormat: "#a",
            });

            var stepDuration = 1250;

            // Set themes
            root.setThemes([am5themes_Animated.new(root)]);

            // Create chart
            var chart = root.container.children.push(am5xy.XYChart.new(root, {
                panX: true,
                panY: true,
                wheelX: "none",
                wheelY: "none",
                paddingLeft: 0
            }));

            // We don't want the zoom-out button to appear while animating, so hide
            chart.zoomOutButton.set("forceHidden", true);

            // Create axes
            var yRenderer = am5xy.AxisRendererY.new(root, {
                minGridDistance: 20,
                inversed: true,
                minorGridEnabled: true
            });

            // Hide grid
            yRenderer.grid.template.set("visible", false);

            var yAxis = chart.yAxes.push(am5xy.CategoryAxis.new(root, {
                maxDeviation: 0,
                categoryField: "player",
                renderer: yRenderer
            }));

            var xAxis = chart.xAxes.push(am5xy.ValueAxis.new(root, {
                maxDeviation: 0,
                min: 0,
                strictMinMax: true,
                extraMax: 0.1,
                renderer: am5xy.AxisRendererX.new(root, {})
            }));

            xAxis.set("interpolationDuration", stepDuration / 10);
            xAxis.set("interpolationEasing", am5.ease.linear);

            // Add series
            var series = chart.series.push(am5xy.ColumnSeries.new(root, {
                xAxis: xAxis,
                yAxis: yAxis,
                valueXField: "value",
                categoryYField: "player"
            }));

            // Rounded corners for columns
            series.columns.template.setAll({ cornerRadiusBR: 5, cornerRadiusTR: 5 });

            // Make each column be of a different color
            series.columns.template.adapters.add("fill", function (fill, target) {
                return chart.get("colors").getIndex(series.columns.indexOf(target));
            });

            series.columns.template.adapters.add("stroke", function (stroke, target) {
                return chart.get("colors").getIndex(series.columns.indexOf(target));
            });

            // Add label bullet
            series.bullets.push(function () {
                return am5.Bullet.new(root, {
                    locationX: 1,
                    sprite: am5.Label.new(root, {
                        text: "{valueXWorking.formatNumber('#.')}",
                        fill: root.interfaceColors.get("alternativeText"),
                        centerX: am5.p100,
                        centerY: am5.p50,
                        populateText: true
                    })
                });
            });

            var label = chart.plotContainer.children.push(am5.Label.new(root, {
                text: " GW 1",
                fontSize: "4em",
                opacity: 0.2,
                x: am5.p100,
                y: am5.p100,
                centerY: am5.p100,
                centerX: am5.p100
            }));

            // Get series item by category
            function getSeriesItem(player) {
                for (var i = 0; i < series.dataItems.length; i++) {
                    var dataItem = series.dataItems[i];
                    if (dataItem.get("categoryY") == player) {
                        return dataItem;
                    }
                }
            }

            // Axis sorting
            function sortCategoryAxis() {
                // sort by value
                series.dataItems.sort(function (x, y) {
                    return y.get("valueX") - x.get("valueX"); // descending
                });

                // go through each axis item
                am5.array.each(yAxis.dataItems, function (dataItem) {
                    // get corresponding series item
                    var seriesDataItem = getSeriesItem(dataItem.get("category"));

                    if (seriesDataItem) {
                        // get index of series data item
                        var index = series.dataItems.indexOf(seriesDataItem);
                        // calculate delta position
                        var deltaPosition =
                            (index - dataItem.get("index", 0)) / series.dataItems.length;
                        // set index to be the same as the series data item index
                        if (dataItem.get("index") != index) {
                            dataItem.set("index", index);
                            // set deltaPosition instantly
                            dataItem.set("deltaPosition", -deltaPosition);
                            // animate delta position to 0
                            dataItem.animate({
                                key: "deltaPosition",
                                to: 0,
                                duration: stepDuration / 2,
                                easing: am5.ease.out(am5.ease.cubic)
                            });
                        }
                    }
                });
                // sort axis items by index.
                // This changes the order instantly, but as deltaPosition is set, they keep in the same places and then animate to true positions.
                yAxis.dataItems.sort(function (x, y) {
                    return x.get("index") - y.get("index");
                });
            }

            var gameweek = 1;

            // update data with values each 1.5 sec
            var interval = setInterval(function () {
                gameweek++;

                if (gameweek > totalGameweeks) {
                    clearInterval(interval);
                    clearInterval(sortInterval);
                    setTimeout(sortCategoryAxis, stepDuration - 1000);
                }

                updateData();
            }, stepDuration);

            var sortInterval = setInterval(function () {
                sortCategoryAxis();
            }, 1000);

            function setInitialData() {
                var d = allData[gameweek];

                for (var this_player in d) {
                    series.data.push({ player: this_player, value: d[this_player] });
                    yAxis.data.push({ player: this_player });
                }
            }

            function updateData() {

                var itemsWithNonZero = 0;
                var logData = [];

                if (allData[gameweek]) {
                    label.set("text", "GW " + gameweek.toString());

                    // Collect log data
                    for (var player in allData[gameweek]) {
                        var value = allData[gameweek][player];
                        logData.push({ player: player, total: value });
                    }

                    // Sort log data by total in descending order
                    logData.sort(function(a, b) {
                        return b.total - a.total;
                    });

                    // Log sorted data
                    logData.forEach(function(entry, index) {
                        // Update visibility
                        var dataItem = getSeriesItem(entry.player);
                        if (dataItem) {
                            dataItem.set("visible", index < playersToShow);
                        }
                    });

                    // Update series data with new values
                    am5.array.each(series.dataItems, function (dataItem) {
                        var player = dataItem.get("categoryY");
                        var value = allData[gameweek][player];

                        if (value > 0) {
                            itemsWithNonZero++;
                        }

                        dataItem.animate({
                            key: "valueX",
                            to: value,
                            duration: stepDuration,
                            easing: am5.ease.linear
                        });
                        dataItem.animate({
                            key: "valueXWorking",
                            to: value,
                            duration: stepDuration,
                            easing: am5.ease.linear
                        });
                    });

                    setTimeout(sortCategoryAxis, stepDuration / 2);

                    yAxis.zoom(0, playersToShow / yAxis.dataItems.length);
                }
            }

            setInitialData();
            setTimeout(function () {
                gameweek++;
                updateData();
            }, 50);

            // Make stuff animate on load
            series.appear(1000);
            chart.appear(1000, 100);

        }); // end am5.ready()
    </script>

{% endblock %}
