{% extends "layouts/base.html" %}

{% block title %} - Team FDR {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <table class="custom-sticky">
                <thead>
                <tr>
                    <th>
                        <h3>Team FDR</h3>
                    </th>
                </tr>
                </thead>
            </table>

            <div style="display: none;" class="hidden_easiest" id="easiest_fdr">{{ easiest }}</div>
            <div style="display: none;" class="hidden_hardest" id="highest_fdr">{{ hardest }}</div>

            <table class="table">
                <thead>
                    <tr>
                        <th class="custom-col-head-team">Team/Gameweek</th>
                        {% for event in events %}
                            <th class="custom-col-head-opponent">{{ event.id }} <br> <span class="custom-col-head-deadline">{{ event.formatted_deadline }}</span></th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                {% for team in teams %}
                    <tr>
                            <td class="custom-row-first">{{ team.name }}</td>
                            {% for gameweek in team.next_games.itertuples %}
                                <td class="valueTD custom-row-opponents" value="{{ gameweek.opponents.fdr}}, {{gameweek.opponents.color }}">{{ gameweek.opponents.show_opponents }} </td>
                            {% endfor %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %} {% endblock javascripts %}